@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --var1: #b5ab87;
    --var2: #fcf9f0;
    --var3: #f2944b;
}

html,
body {
    height: 100%;
}

.main1 {
    background-color: var(--var2);
}

/* .frontpage_main1,
.frontpage_main2,
.frontpage_main3,
.frontpape_part3,
.frontpape_part1,
.frontpape_part2,
.tbl,
.tbl2 {
    border: 1px solid red;
} */

.header_nav {
    backdrop-filter: blur(10px);
    background-color: rgba(221, 218, 218, 0.7);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 50px;
}

.quotes {
    /* border: 1px solid red; */
    font-family: "New Amsterdam";
    font-style: italic;
}

.title {
    gap: 2%;
}

.logo img {
    transition: 0.3s ease-in-out;
}

.logo:hover img {
    transform: scale(1.2);
}

.login a {
    transition: 0.3s ease-in-out;
}

.login:hover a {
    background-color: white;
}

ul li a {
    transition: 0.3s ease-in-out;
}

ul li a:hover {
    transform: scale(1.2);
    color: black;
}

.search img {
    transition: 0.3s ease-in-out;
}

.search:hover img {
    transform: scale(1.2);
}

.frontpage_main2 {
    margin-top: 1%;
    height: 100%;
}

.frontpage_main3 {
    margin-top: 1%;
    height: 100%;
}

.questionNGO {
    padding: 1%;
}

.questionPhilantro {
    padding: 1%;
}

.ans,
.desc {
    padding: 1.5%;
}


.tbl,.tbl2 {
    margin: 1%;
    padding: 1.5%;
}

.benefitstbl,
.howtotbl,
.benefitstbl2,
.revitbl {
    margin: 1%;
    padding: 1%;
}

.whatis .ans {
    border-radius: 6% 94% 9% 91% / 86% 12% 88% 14%;
    border-color: var(--var1);
}

.benefitstbl{
    border-radius: 0% 100% 100% 0% / 10% 7% 7% 10%;
    border-color: var(--var1);
}
.benefitstbl2 {
    border-radius: 0% 100% 100% 0% / 10% 7% 7% 10%;
    border-color: var(--var3);
}

.howtotbl{
    border-radius: 100% 100% 100% 100% / 15% 0% 0% 15%;
    border-color: var(--var1);
}

.revitbl {
    border-radius: 100% 100% 100% 100% / 15% 0% 0% 15%;
    border-color: var(--var3);
}

@media (max-width: 900px) {
    .front_content {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .picture {
        width: 100%;
    }

    .quotes {
        width: 70%;
        height: 30%;
        font-size: 140%;
    }

    .header_nav {
        font-size: 140%;
    }

    .options {
        width: 50%;
    }

    .logo img {
        width: 5rem;
    }

    .ans {
        width: 70%;
    }

    .tbl {
        height: 60vh;
        padding: 0;
        margin: 0;
    }

    .benefits,
    .howtopoints {
        height: 100%;
    }

    .benefitstbl,
    .howtotbl {
        height: 100%;
        padding: 3.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}